@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
         url('../fonts/Roboto-Light.eot') format('eot');
        font-weight: 300;
        font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
         url('../fonts/Roboto-Bold.eot') format('eot');
        font-weight: 700;
        font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
         url('../fonts/Roboto-Black.eot') format('eot');
        font-weight: 900;
        font-style: normal;
}

body {
    font-family: Roboto;
}

.container {
    max-width: 780px;
}

h2 {
    font-size: 60px;
    font-weight: 900;
}