* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
         url('../fonts/Roboto-Light.eot') format('eot');
        font-weight: 300;
        font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
         url('../fonts/Roboto-Bold.eot') format('eot');
        font-weight: 700;
        font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
         url('../fonts/Roboto-Black.eot') format('eot');
        font-weight: 900;
        font-style: normal;
}

body {
    font-family: Roboto;
    background-color: #f4f4f7;
}

.full-container {
    max-width: 1180px;
    margin: 0 auto 100px auto;
}

.full-container--white {
    background-color: #ffffff;
    padding-top: 90px;
}

.container {
    max-width: 780px;
    margin: 0 auto;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 1000;
    max-width: 1180px;
    box-sizing: border-box;
}

.frontbyte-logo {
    width: 40px; height: 40px;
}

h2, .title {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 30px;
    line-height: 1.08;
    letter-spacing: -0.75px;
}

.subtitle {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 20px;
}

h4 {
    font-size: 13px;
    font-weight: 900;
    line-height: 1.54;
    letter-spacing: 1.73px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #2d2d42;
}

.navigation {
    margin: 0 auto 0 120px;
}

.navigation__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

a {
    color: inherit;
    text-decoration: inherit; 
    cursor: pointer;
    text-decoration: underline transparent;
}

a:hover {
    text-decoration-color: #f4f4f7;
    transition-property: text-decoration-color;
    transition-duration: 0.3s;
}

button {
    cursor: pointer;
}

.navigation__item, .language__item {
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 300;
    color: #f4f4f7;
}

.navigation__item {
    margin-right: 50px;
}

.language__item{
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin: 0 6px;
}

.language__item:not(.language__item--active):hover {
    border-color: rgb(244, 244, 247, 0.5);
    transition: border-color;
    transition-duration: 0.3s;
}

.language__item--active {
    border: 1px solid #f4f4f7;
}

.start-screen__title, .start-screen__subtitle, .start-screen__message {
    color: #f4f4f7;
}

.start-screen__title {
    padding-top: 172px;
    margin-bottom: 30px
}

.start-screen__subtitle {
    margin-bottom: 78px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    max-width: 640px;
}

.start-screen{
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 1180px; 
    height: 680px;
}

.start-screen__image {
    position: absolute;
    background-image: url('../img/img-header.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1180px; 
    height: 680px;
    z-index: -1;
}

.approach__title {
    color: #2d2d42;
}

.approach__subtitle {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 85px;
    color: #2d2d42;
}

.card {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
    flex-wrap: wrap;
    width: 900px;
}

.card__item {
    width: 240px; height: 240px;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.card__image {
    width: 90px; height: 90px;
    border-radius: 50%;
    background-color: #63c9e0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.card__item:nth-child(2n) > .card__image {
    background-color: #f47e3d;
}

.card__item:nth-child(3n) > .card__image {
    background-color: #d04b9b;
}

.card__description {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #2d2d42;
}

.wwd-title {
    color: #c0c6c8;
    margin-bottom: 75px;
}

.wwd-list {
    margin-left: -60px;
    column-count: 2;
    column-gap: 160px;
    padding-bottom: 130px;
    column-width: 120px;
    overflow-wrap: break-word;
}

.wwd-description {
    color: #2d2d42;
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    width: 380px;
    padding-left: 60px;
    margin-bottom: 20px;
    position: relative;
}

.wwd-description::before {
    content: "";
    width: 30px;
    height: 1px;
    background-color: #64cae1;
    position: absolute;
    transform: translate(-60px, 12px);
}

.work__title {
    color: #2d2d42;
}

.work__subtitle {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    color: #2d2d42;
    margin-bottom: 90px;
}

.grid-container {
    display: grid;
    grid-template-columns: 580px 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.grid-item--wide {
    grid-column: span 2;
    position: relative;
}

.team {
    margin-top: -50px;
}

.image-wrapper > img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
}

.image-wrapper {
    height: 320px;
}

.text-block {
    box-sizing: border-box;
    width: 380px;
    height: 380px;
    margin-top: 200px;
    padding: 40px;
    background-color: #f4f4f7;
    position: absolute;
}

.text-block--color-accent {
    background-color: #64cae1;
}

.text-block--wide {
    width: 400px;
    padding-left: 0; padding-bottom: 0;
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container--right {
    display: flex;
    justify-content: flex-end;
}

.text-block__title {
    font-size: 13px;
    font-weight: 900;
    line-height: 1.54;
    letter-spacing: 1.73px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #2d2d42;
}

.text-block__subtitle {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: normal;
    height: 100%;
    color: #2d2d42;
}

.text-block__title--color-accent {
    color: #f4f4f7;
}

.text-block__subtitle--color-accent {
    color: #f4f4f7;
}

.text-block__subtitle--slider {
    padding-right: 20px;
    height: auto;
}

.card-text {
    min-height: 260px;
    padding-top: 35px;
}

.card-text__title {
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 900;
    line-height: 1.54;
    letter-spacing: 1.73px;
    text-transform: uppercase;
    color: #2d2d42;
}

.card-text__description {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: normal;
    width: calc(100% - 140px);
    max-width: 440px;
    color: #2d2d42;
}

.img-holder {
    width: 50px; height: 26px;
    background-color: green;

}

img[src^="img/img-inside"] {
    right: 0px;
}

.slider-wrapper {
    display: flex;
    flex-direction: row;
}

.slider-title {
    color: #2d2d42;
}

.slider-subtitle {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    margin-bottom: 90px;
    color: #2d2d42;
}

label::after {
    content: "";
    display: block;
    width: 65px; height: 1px;
    margin-right: 9px;
    background-color: #c0c6c8;
    cursor: pointer;
    bottom: 0;
}

.slider-item > label {
    display: block;
    padding-top: 25px;
}
input {
    display: none;
}

input:checked ~ label::after {
    background-color: #2d2d42;
}

.slider-picture {
    display: flex;
    overflow: hidden;
    width: 980px;
}

.text-block__title--slider {
    margin: 0;
}

.place-holder {
    width: 50px; height: 25px;
    background-color: green;
}

.news {
    display: flex;
    column-gap: 120px;
    row-gap: 40px;
    padding-right: 100px;
    flex-wrap: wrap;
}

.news-item {
    max-width: 280px;
}

.news-item__text {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #2d2d42;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-item__date {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.33;
    color: #c0c6c8;
}

.news-section__title {
    margin-bottom: 50px;
}

.footer-screen {
    height: 720px;
    background-color: #add8e6;
    background-image: url(../img/img-map.svg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 100px;
}

.footer__container {
    position: relative;
    padding-top: 100px;
    background-color: #000000;
    z-index: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.map {
    position: absolute;
    top: 25%;
    left: 21%;
    z-index: -1;
}

.map__picture {
    display: block;
}

.map__norway,
.map__belarus {
    position: absolute;
    border-radius: 50%;
}

.map__norway {
    background-color: #64cae1;
    top: 17%;
    left: 47%;
    width: 50px;
    height: 50px;
}

.map__belarus {
    background-color: #d04b9b;
    top: 22%;
    left: 56%;
    width: 40px;
    height: 40px;
}

.title--footer {
    display: inline-block;
    color: #f4f4f7;
    margin-right: 240px;
    margin-bottom: 65px;
}

.footer__socials {
    display: inline-block;
    vertical-align: top;
    transform: translate(15%, 50%);
}

.footer__link {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding-bottom: 10px;
    transition: fill .3s;
}


.footer__description {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    color: #f4f4f7;
    margin-bottom: 90px;
    max-width: 380px;
}

.footer__link:not(:last-child) {
    margin-right: 20px;
}

.contacts {
    display: inline-block;
    margin-bottom: 70px;
}

.contacts--first {
    margin-right: 187px;
}

.contacts__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #f4f4f7;
    margin-bottom: 20px;
}

.contacts__address > * {
    display: block;
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.67;
    color: #f4f4f7;
}

.contacts__tel {
    display: block;
    width: 120px;
}

.contacts__mail {
    display: inline-block;
    color: #64cae1;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    width: 580px;
    font-size: 20px;
    font-weight: 300;
    padding: 25px 0 25px 200px;
    line-height: 1.5;
    border-top: solid 1px #f4f4f7;
    border-right: solid 1px #f4f4f7;
    color: #f4f4f7;
    background-image: url('../img/ic-next.svg');
    background-repeat: no-repeat;
    background-position: 91%;
    background-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s, text-decoration 0.3s;;
}

.button:hover {
    background-color: rgb(255, 255, 255, 0.1);
    transition: background-color 0.3s, text-decoration 0.3s;
}
.button--accent {
    display: inline-block;
    background-color: #64cae1;
    border: none;
    margin-right: 113px;
    margin-left: -200px;
    transition: background-color 0.3s, text-decoration 0.3s;
}

.button--accent:hover {
    background-color: rgb(100, 202, 225, 0.3);
    transition: background-color 0.3s, text-decoration 0.3s;
}

.footer__copyright {
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    color: #f4f4f7;
    margin-left: auto;
}