* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
         url('../fonts/Roboto-Light.eot') format('eot');
        font-weight: 300;
        font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
         url('../fonts/Roboto-Bold.eot') format('eot');
        font-weight: 700;
        font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
         url('../fonts/Roboto-Black.eot') format('eot');
        font-weight: 900;
        font-style: normal;
}

body {
    font-family: Roboto;
    background-color: #f4f4f7;
}

.full-container {
    max-width: 1180px;
    margin: 0 auto 100px;
}

.full-container:last-child {
    margin-bottom: 0;
}

.full-container--white {
    background-color: #ffffff;
    padding-top: 90px;
}

.container {
    max-width: 780px;
    margin: 0 auto;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    position: relative;
    padding-top: 40px;
    margin-bottom: 0;
}

.frontbyte-logo {
    position: absolute;
    transform: translateY(-25%);
    padding-left: 5%;
}

.language {
    position: absolute;
    transform: translateY(-75%);
    right: 5%;
}

h2 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 30px;
    line-height: 1.08;
    letter-spacing: -0.75px
}

h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 20px;
}

h4 {
    font-size: 13px;
    font-weight: 900;
    line-height: 1.54;
    letter-spacing: 1.73px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #2d2d42;
}

.navigation__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

a {
    color: inherit;
    text-decoration: inherit; 
    cursor: pointer;
}

a:hover, button:hover {
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 255, 251);
}

button {
    cursor: pointer;
}

.navigation__item, .language__item {
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 300;
    color: #f4f4f7;
}

.language__item--active {
    width: 40px;
    height: 40px;
    border: 1px solid #f4f4f7;
    border-radius: 50%;
}

.start-screen__title, .start-screen__subtitle, .start-screen__message {
    color: #f4f4f7;
}

.start-screen__title {
    padding-top: 172px;
    margin-bottom: 30px
}

.start-screen__subtitle {
    margin-bottom: 78px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
}

.message-link {
    font-size: 20px;
    border-top: 1px solid #f4f4f7;
    border-right: 1px solid #f4f4f7;
    padding: 25px 100px 25px 200px;

}

.message-link__arrow {
    transform: translateY(30%);
    color: #f4f4f7;
}

.message-link:hover ~ .message-link__arrow {
    transform: translateY(30%) translateX(10px);
    transition-duration: 0.2s ;
}

.message-link__text {
    padding-right: 15%;
    color:#f4f4f7;
}

.start-screen{
    position: relative;
    width: 1180px; 
    height: 680px;
}

.start-screen__image {
    position: absolute;
    background-image: url('../img/img-header.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1180px; 
    height: 680px;
    /* transform: translateY(-36%);  */
    z-index: -1;
}

.approach__title {
    color: #2d2d42;
}

.approach__subtitle {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 85px;
    color: #2d2d42;
}

.card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.card__item {
    max-width: 240px;
    display: flex;
    flex-direction: column;
}

.card__image {
    width: 90px; height: 90px;
    border-radius: 50%;
    background-color: #63c9e0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.card__item:nth-child(2n) > .card__image {
    background-color: #f47e3d;
}

.card__item:nth-child(3n) > .card__image {
    background-color: #d04b9b;
}

.card__description {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #2d2d42;
}

.wwd-title {
    color: #c0c6c8;
    margin-bottom: 75px;
}

.wwd-list {
    column-count: 2;
    column-gap: 120px;
    padding-bottom: 130px;
    column-width: 120px;
    overflow-wrap: break-word;
}

.wwd-description {
    color: #2d2d42;
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    width: 380px;
    padding-left: 60px;
    margin-bottom: 20px;
    position: relative;
}

.wwd-description::before {
    content: "";
    width: 30px;
    height: 1px;
    background-color: #64cae1;
    position: absolute;
    transform: translate(-60px, 12px);
}

.work__title {
    color: #2d2d42;
}

.work__subtitle {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    color: #2d2d42;
    margin-bottom: 90px;
}

.grid-container {
    display: grid;
    grid-template: 600px 1fr / 580px 1fr;
    gap: 20px;
}

.grid-item:first-child, .grid-item:last-child {
    grid-column: span 2;
    position: relative;
}

.text-block {
    box-sizing: border-box;
    width: 380px;
    height: 380px;
    margin-top: 200px;
    padding: 40px;
    background-color: #f4f4f7;
    position: absolute;
}

.text-block--color-accent {
    background-color: #64cae1;
}

.text-block--wide {
    width: 400px;
    padding-left: 0; padding-bottom: 0;
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container--right {
    display: flex;
    justify-content: flex-end;
}

.text-block__title {
    font-size: 13px;
    font-weight: 900;
    line-height: 1.54;
    letter-spacing: 1.73px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #2d2d42;
}

.text-block__subtitle {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2d2d42;
}

.text-block__title--color-accent {
    color: #f4f4f7;
}

.text-block__subtitle--color-accent {
    color: #f4f4f7;
}

.card-text {
    height: 280px;
    padding-top: 40px;
}

.card-text__title {
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 900;
    line-height: 1.54;
    letter-spacing: 1.73px;
    text-transform: uppercase;
    color: #2d2d42;
}

.card-text__description {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2d2d42;
}

.img-holder {
    width: 50px; height: 26px;
    background-color: green;

}

img[src^="img/img-inside"] {
    right: 0px;
}

.slider-wrapper {
    display: flex;
    flex-direction: row;
}

.slider-title {
    color: #2d2d42;
}

.slider-subtitle {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    margin-bottom: 55px;
    color: #2d2d42;
}

label::after {
    content: "";
    display: block;
    width: 65px; height: 1px;
    margin-right: 9px;
    background-color: #c0c6c8;
    cursor: pointer;
    bottom: 0;
}

input {
    display: none;
}

input:checked ~ label::after {
    background-color: #2d2d42;
}

.slider-picture {
    display: flex;
    overflow: hidden;
    width: 980px;
}

.text-block__title--slider {
    margin: 0;
}

.place-holder {
    width: 50px; height: 25px;
    background-color: green;
}

.news {
    display: flex;
    gap: 120px;
}

.news-item__text {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #2d2d42;
}

.news-item__date {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.33;
    color: #c0c6c8;
}

.news-section__title {
    margin-bottom: 50px;
}

.footer-screen {
    height: 720px;
    background-color: #add8e6;
    background-image: url(../img/img-map.svg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 100px;
}

.footer__container {
    padding-left: 200px;
    padding-right: 73px;
    position: relative;
    padding-top: 100px;
    background-color: #000000;
    z-index: 0
}

.map {
    position: absolute;
    top: 25%;
    left: 21%;
    z-index: -1;
}

.map__picture {
    display: block;
}

.map__norway,
.map__belarus {
    position: absolute;
    border-radius: 50%;
}

.map__norway {
    background-color: #64cae1;
    top: 17%;
    left: 47%;
    width: 50px;
    height: 50px;
}

.map__belarus {
    background-color: #d04b9b;
    top: 22%;
    left: 56%;
    width: 40px;
    height: 40px;
}

.title--footer {
    display: inline-block;
    color: #f4f4f7;
    margin-right: 240px;
    margin-bottom: 75px;
}

.footer__socials {
    display: inline-block;
    text-align: center;
}

.footer__link {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding-bottom: 10px;
    transition: fill .3s;
}


.footer__description {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    color: #f4f4f7;
    margin-bottom: 90px;
    max-width: 380px;
}

.footer__link:not(:last-child) {
    margin-right: 20px;
}

.footer__link svg path {
    transition: fill 0.3s;
}

.footer__link:hover svg path{
    fill: #93a4a9;
}

.contacts {
    display: inline-block;
    margin-bottom: 70px;
}

.contacts--first {
    margin-right: 187px;
}

.contacts__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #f4f4f7;
    margin-bottom: 20px;
}

.contacts__address > * {
    display: block;
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.67;
    color: #f4f4f7;
}

.contacts__tel {
    display: block;
    width: 120px;
}

.contacts__mail {
    display: inline-block;
    color: #64cae1;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    width: 580px;
    font-size: 20px;
    font-weight: 300;
    padding: 25px 0 25px 200px;
    line-height: 1.5;
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
    color: #f4f4f7;
    background-image: url('../img/ic-next.svg');
    background-repeat: no-repeat;
    background-position: 91%;
    cursor: pointer;
}

.button--accent {
    display: inline-block;
    background-color: #64cae1;
    border: none;
    margin-right: 113px;
    margin-left: -200px;
}

.footer__copyright {
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    color: #f4f4f7;
    margin-left: auto;
}